<%= render partial: 'default/header', locals: { title: 'My profile' } %>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <h4>Matt Ellis</h4>
                <hr>
                <h6 class="text-muted"><%= @user.email %></h6>
                <h6 class="text-muted">(864) 247-9619</h6>
            </div>
            <hr>

            <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-light">
                    Profile
                </a>
                <a href="#" class="list-group-item list-group-item-light">
                    Orders
                </a>
                <a href="#" class="list-group-item list-group-item-light">
                    Settings
                </a>
                <a href="#" class="list-group-item list-group-item-light">
                    Reset password
                </a>
                <%= link_to 'Logout', logout_path, :class => 'list-group-item list-group-item-light' %>
            </ul>
        </div>
        <div class="col-md-8">
            <%= yield :page_content %>
        </div>
    </div>
</div>
