<div class="bg-white" style="border-top: 1px solid #eee; padding-top: 10px;">
    <div class="container">
        <div class="float-right" style="padding-top: 40px;">
            <a href="#" class="text-muted">Designs</a>
            <a href="#" class="text-muted" style="padding-left: 30px;">About</a>
            <a href="#" class="text-muted" style="padding-left: 30px;">Contact</a>
        </div>
        <%= image_tag 'cellisLogo.png', style: 'width: 200px;' %>
    </div>
</div>
<div style="background-color: #24292e; width: 100%; padding: 25px; margin-top: 10px;">
    <div class="container">
        <p class="text-muted" style="margin: 0px; padding-left: 5px;">
            <span class="float-right">
                <%= icon('fab', 'facebook', class: 'fa-2x') %>
                <%= icon('fab', 'twitter', class: 'fa-2x', style: 'padding-left: 15px;') %>
                <%= icon('fab', 'instagram', class: 'fa-2x', style: 'padding-left: 15px;') %>
            </span>
            &copy; 2018 cellis. All rights reserved.
        </p>
    </div>
</div>
